<style>
.gray {
	color: #666;
	font-size: 0.9em;
}
</style>

[% BLOCK collapsible %]
	<div ng-init="collapsed=[% IF opened %]false[% ELSE %]true[% END %]" ng-controller="nl.mintlab.core.IsolationController">
		<h3><a ng-click="collapsed=!collapsed" style="cursor:pointer">[% title %]</a></h3>
		<div ng-show="!collapsed">
			[% content %]
		</div>
	</div>
[% END %]

[% BLOCK attribute_table %]
	<table ng-show="!collapsed">
		<tr>
			<th>Technische naam</th>
			<th>Magic string</th>
			<th>Waarde in zaak</th>
			<th>Via template (ZTT)</th>
		</tr>
		[% FOREACH attribute = attributes %]
			[% PROCESS attribute_row %]
		[% END %]
	</table>
[% END %]

[% BLOCK attribute_row %]
	<tr>
		<td width="25%"><span class="gray">[[</span>[% attribute.name %]<span class="gray">]]</span></td>
		<td width="25%">[% FOREACH bwcompat_name = attribute.get_bwcompat_name %]<span class="gray">[[</span>[% bwcompat_name %]<span class="gray">]]</span><br/>[% END %]</td>
		[% bwcompat_name = attribute.get_bwcompat_name.first || attribute.name %]
		<td width="25%">[% zaak.magic_strings.${bwcompat_name}.join('<br/>') %]</td>
		<td width="25%">[% FOREACH bwcompat = bwcompat_name %]
			[% process_magic_string('[[' _ bwcompat _ ']]') %]
				[% LAST %]
			[% END %]
		</td>
	</tr>
[% END %]

<div class="block">
	<div class="header">Magic strings</div>
	<div class="blockcontent">
		<ul>
			<li>[% content = PROCESS
					attribute_table attributes = system_attributes %]
				[% PROCESS collapsible 
					title = 'Voorgedefinieerde magic strings'
					content = content
				%]
			</li>
			<li>[% content = PROCESS
					attribute_table attributes = zaak.casetype_attributes %]
				[% PROCESS collapsible 
					title = 'Gebruiker-gedefinieerde magic strings'
					content = content
				%]
			</li>
			<li>[% content = BLOCK %]
					<small>Deze werkt op dezelfde manier als emails en sjablonen</small>
					<form action="[% c.uri_for('/zaak/' _ zaak.id _ '/test_magic_strings') %]" method="POST">
						<textarea name="test_content">[% c.req.params.test_content %]</textarea>
						<input type="submit" value="Versturen" />
					</form>
					<h3>Resultaat</h3>
					<pre>[% test_content_processed %]</pre>
				[% END %]
				[% PROCESS collapsible 
					title = 'Test formulier'
					content = content
					opened = test_content_processed
				%]
			</li>
		</ul>
	</div>
</div>
