 
/* @group base */ 

body { 
	font-family: helvetica;
	font-size: 13px;
	background: #fff;
	margin: 0px;
}
 
#container {
	width: 960px;
	margin: 0px auto;
	background: #fff;
}

#main{
	padding: 0; 
}
 
#header { 
	padding: 35px 0px 20px;
	position: relative;
	border-bottom: 1px solid #ddd;
	display: none; }
	
	#header .inner{
		width: 960px;
		margin: 0 auto; }
 
	#header h1#logo {
		font-size: 24px;
		color: #222;
		font-weight: bold; }
	
		#header h1#logo span{
			font-weight: normal;
			color:#F36666;
			float: right; }
		
	#header .pijl {
		width: 100%;
		height: 7px;
		background: url(../img/pijl-logo.gif) no-repeat center 0;
		position: absolute;
		bottom: -1px;
		z-index: 1; }
	

ul.nav li{
	float: left;
	color: #bbb;
	margin: 0 4px 0 0;
	padding: 20px 20px 20px 20px;
	font-weight: bold;
}

.blockcontent{
	padding: 20px 30px 25px;
}


 /* @end */
 
 /* @group block */
 
  
 .block {
 	padding: 35px 0 40px !important;
}
 
 .header {
	margin: 0 0 15px 0;
 	font-size: 26px;
 	margin: 0 0 15px;
 }
 
 	.header div {
 		float: left;
 		width: 640px; }

 		
 /* @end */
 
 
 
 
  


/* @group button140 */

.button140{background: #2B7EAD;}
.button140:hover{background: #2b93ce;}
.button140-prev{background: #333;}
.button140-prev:hover{background: #555;}


/* @end */


/* @group Test-ID */

.id-knop.id-knop-testid{
	border: 1px solid #222222;
}

.id-knop.id-knop-testid:hover{
	background: rgb(85,85,85);
	background: -moz-linear-gradient(top,  rgb(85,85,85) 0%, rgb(34,34,34) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(85,85,85)), color-stop(100%,rgb(34,34,34)));
	background: -webkit-linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%);
	background: -o-linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%);
	background: -ms-linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%);
	background: linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=0 );
}

.id-knop.id-knop-testid:active{
	background: rgb(34,34,34);
	background: -moz-linear-gradient(top,  rgb(34,34,34) 0%, rgb(68,68,68) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(34,34,34)), color-stop(100%,rgb(68,68,68)));
	background: -webkit-linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
	background: -o-linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
	background: -ms-linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
	background: linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#444444',GradientType=0 );
}
 
/* @end */


/* @group stappen  */
	
.stap.active {border-bottom-color: #2b7ead;}

/* @end */