[% BLOCK note_form %]
    <form method="POST" action="[%
            c.uri_for(
                '/betrokkene/' _
                betrokkene.ex_id _
                '/notes/add'
            );
        %]" class="ezra_timeline_note">
        <input type="hidden" name="gm" value="1" />
        <input type="hidden" name="type" value="[% betrokkene.btype %]" />
        <div class="notitie">
            <textarea name="message" placeholder="Plaats een interne opmerking"></textarea>
            <input
                type="submit"
                class="button button-primary"
                name="submit"
                value="Plaatsen"
            />
        </div>
    [% IF can_betrokkene_edit %]
        </form>
    [% END %]
[% END %]


[% BLOCK timeline_tab %]
    <div class="ui-tabs-panel ui-widget-content ui-tabs-hide ztAjaxUpdate timeline clearfix" id="tab-wgt-timeline" rel="[% betrokkene.ex_id %]">
        <div class="timeline-content">
        </div>
        <div class="timeline-filter">
            <h3>Filter timeline</h3>
            <form action="#" class="ezra_timeline_filter">
                <input type="hidden" name="use_filters" value="1"/>
                <div class="checkbox-item checkbox-cm">
                    <input type="checkbox" name="filter" value="zaak" checked="checked" id="zaak" />
                    <label for="note">Zaken</label>
                </div>
                <div class="checkbox-item">
                    <input type="checkbox" name="filter" value="contactmoment" checked="checked" id="cm" />
                    <label for="cm">Contactmomenten</label>
                </div>
                <div class="checkbox-item checkbox-doc">
                    <input type="checkbox" name="filter" value="document" checked="checked" id="doc" />
                    <label for="doc">Documenten</label>
                </div>
                <div class="checkbox-item checkbox-note">
                    <input type="checkbox" name="filter" value="note" checked="checked" id="note" />
                    <label for="note">Notities</label>
                </div>
            </form>
        </div>
    </div>
[% END %]







<script id="ezra_timeline" type="text/html">
    <ol class="timeline-inner clearfix">
        <li class="spine"></li>
        <li class="left ezra_timeline_event timeline-item timeline-notes">
            <i class="pointer"></i>
            <div class="timeline-item-inner">
                [% PROCESS note_form %]
            </div>
        </li>
    </ol>
</script>


<script id="ezra_timeline_event_header" class="partial" type="text/html">
  <li class="ezra_timeline_event timeline-item timeline-{{class}}">
    <i class="pointer"></i>
    <div class="timeline-item-inner">
        <div class="timeline-item-title">
            <div class="timeline-item-icon"></div>
            <div class="timeline-item-type">
                {{title}}
            </div>
            <div class="timeline-item-meta">
                 {{created_formatted}}<!-- &#8729; geplaatst door <a href=""></a>-->
            </div>
        </div>
</script>

<script id="ezra_timeline_event_footer" class="partial" type="text/html">
    </div>
  </li>
</script>



<script id="ezra_timeline_document_event" type="text/html">
    {{>ezra_timeline_event_header}}
    <div class="timeline-item-content">
        <div><strong>Bestandsnaam: </strong>{{filename}}</div>
    </div>
    {{>ezra_timeline_event_footer}}
</script>

<script id="ezra_timeline_note_event" type="text/html">
    {{>ezra_timeline_event_header}}
    <div class="timeline-item-content">
        <div>{{message}}</div>
    </div>
    {{>ezra_timeline_event_footer}}
</script>

<script id="ezra_timeline_contactmoment_event" type="text/html">
    {{>ezra_timeline_event_header}}
    <div class="timeline-item-content">
        <div><strong>Bericht:</strong> {{notitie_id.bericht}}</div>
        <div><strong>Via:</strong> {{notitie_id.contactkanaal}}</div>
        <div><strong>Type:</strong> {{store_type}}</div>
    </div>
    {{>ezra_timeline_event_footer}}
</script>


<script id="ezra_timeline_zaak_event" type="text/html">
    {{>ezra_timeline_event_header}}
    <div class="timeline-item-content">
        <div>{{onderwerp}}</div>
    </div>
    {{>ezra_timeline_event_footer}}
</script>





[% BLOCK button_block %]
<div class="ezra_actie_button_handling contact-acties">
    [% button_num = 1 %]
    [% IF (betrokkene.btype != 'medewerker'); button_num = (button_num + 1); END %]
    [% IF ((!betrokkene.authenticated || betrokkene.btype == 'medewerker') && c.check_any_user_permission('beheer','contact_nieuw') && can_betrokkene_edit && !betrokkene_edit); button_num = (button_num + 1); END %]

    <div class="button-group button_num_[% button_num %] ezra_actie_button_handling_navigation clearfix">
        
        <div class="button-group button-group-relative">
            <a class="button button-secondary button-large dropdown-toggle" href="#voegtoe" title="Toevoegen">
                <i class="icon-font-awesome icon-plus icon"></i>
            </a>
            <div class="ezra_actie_button_handling_popover">
                <div class="popover" id="popover_voegtoe">
                    <div class="buttons">
                        <a data-ng-controller="nl.mintlab.case.FormBootstrapController"
                           data-ng-init="requestor_id='[% betrokkene.uuid %]';requestor_type='[% betrokkene.btype %]';requestor_name='[% encode_utf8(betrokkene.naam) %]';identifier='[% betrokkene.betrokkene_identifier %]'"
                           data-ng-click="openFormBootstrapPopup()">Nieuwe zaak</a>
                        [% IF betrokkene.btype == 'bedrijf' && c.stash.show_controlpanel %]
                        <a 
                            data-zs-instances-add 
                            data-zs-instances-add-customer-id="[% betrokkene.betrokkene_identifier %]" 
                            data-zs-instances-add-templates="instancesView.getCustomerConfig().instance.available_templates"

                            data-zs-popup="'/html/admin/instances/instances.html#add'"
                            data-ng-click="openPopup()"
                            data-ng-if="instancesView.hasCustomerConfig()&&instancesView.isLoaded()"
                        >
                            Omgeving
                        </a>
                        [% END %]
                    </div>
                </div>
            </div>
        </div>
        
        [% IF (!betrokkene.authenticated || betrokkene.btype == 'medewerker') && c.check_any_user_permission('beheer','contact_nieuw') && can_betrokkene_edit && !betrokkene_edit %]
            <div class="button-group button-group-relative">
                <a class="button button-secondary button-large dropdown-toggle" href="#bewerk" title="Bewerken">
                    <i class="icon-font-awesome icon-pencil icon"></i>
                </a>
                <div class="ezra_actie_button_handling_popover">
                    [% IF (!betrokkene.authenticated || betrokkene.btype == 'medewerker') && c.check_any_user_permission('beheer','contact_nieuw') && can_betrokkene_edit && !betrokkene_edit %]
                        <div class="popover" id="popover_bewerk">

                            <div class="buttons">
                                <a
                                        
                                        href="[% c.req.uri_with(
                                            { edit => 1, enable_betrokkene_session => undef }
                                            )
                                        %]#tab-wgt-contact"
                                        id="bewerken"
                                        >
                                        <span></span>
                                        Bewerken</a>
                                    
                                    <a
                                       
                                        class="ezra_dialog"
                                        href="[% c.uri_for(
                                            '/betrokkene/verwijder/'
                                            _ betrokkene.btype _ '/'
                                            _ betrokkene.ex_id
                                            )
                                        %]"
                    
                                        id="verwijderen"
                                    ><span></span>
                                    Verwijderen</a>
                            </div>
                        </div>
                    [% END %]

                </div>
            </div>
        [% END %]


    [% IF (betrokkene.btype != 'medewerker') %]
        <button class="button button-secondary button-large [% (button_num == 2 ? ' last' : '') %] last" title="Activeren" data-ng-controller="nl.mintlab.kcc.ActiveSubjectController" data-ng-init="identifier='[% betrokkene.betrokkene_identifier %]'" data-ng-click="enableSession()">
         <i class="icon-font-awesome icon-play icon"></i>
         </button>
     [% END %]

    </div>                 
</div>
[% END %]

[%
    broninfo = {
        'bedrijf'               => 'KvK',
        'natuurlijk_persoon'    => 'GBA',
        'medewerker'            => 'LDAP',
    };
    brontype = {
        'bedrijf'               => 'Niet-natuurlijk persoon (Organisatie)',
        'natuurlijk_persoon'    => 'Natuurlijk persoon',
        'medewerker'            => 'Behandelaar',
    }
%]

[%
  is_active = 1;
  IF betrokkene.can('active');
    is_active = betrokkene.active;
  ELSIF betrokkene.can('is_active');
    is_active = betrokkene.is_active;
  END;

  show_settings = 0;
  show_medewerker_settings = 0;
  IF c.show_alternative_authentication && betrokkene.btype != 'medewerker';
    show_settings = 1;
  ELSIF betrokkene.btype == 'medewerker';
      show_settings = 1;
      show_medewerker_settings = 1;
  END;

%]

                <div class="ui-tabs contact" id="tabinterface" data-zs-subject-view data-subject-id="[% betrokkene.betrokkene_identifier %]" [% IF c.stash.show_controlpanel %]data-zs-instances-view[% END %]>
                    <div class="contact-header">
                        <h1 class="contact-naam block-header-title">
                            [% betrokkene.naam | html_entity %]

                            [% IF !is_active %]
                                (Inactief)
                            [% END %]
                        </h1>
                        <div class="contact-gegevens-overzicht">
                            [% PROCESS widgets/betrokkene/view_subject.tt %]
                        </div>


                    <!-- contact acties -->
                    [% IF is_active %][% PROCESS button_block %][% END %]
                    <!-- einde contact acties -->


                    </div>
                    <ul class="ui-rounded-corners-off ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all tabs-header">
                    
                        <li><a href="#tab-wgt-dashboard">Dashboard</a></li>
                        <li><a href="#tab-wgt-communication" class="ezra_subject_timeline">Communicatie</a></li>
                        <li><a href="#tab-wgt-zaken">Zaken</a></li>

                            [% #PROCESS plugins/woz/ownerobjects.tt %]

                        [% IF c.show_woz && woz_objects.count %]
                        <li><a href="#tab-wgt-woz">WOZ</a></li>
                        [% END %]

                        <li><a href="#tab-wgt-contact">Contactinformatie</a></li>
                        <li><a href="#tab-wgt-timeline" class="ezra_subject_timeline">Timeline</a></li>
                        
                        [% IF show_settings %]
                            <li><a href="#tab-wgt-settings">Instellingen</a></li>
                        [% END %]

                        [% IF betrokkene.btype == 'bedrijf' && c.stash.show_controlpanel %]
                        <li><a href="#tab-wgt-instances">Omgevingen</a></li>
                        [% END %]


                    </ul>


                    <div class="ui-tabs-panel ui-widget-content contact-dashboard" id="tab-wgt-dashboard">
                        [% PROCESS betrokkene/dashboard.tt %]
                    </div>

                    <div class="ui-tabs-panel ui-widget-content ui-tabs-hide" id="tab-wgt-timeline" rel="[% betrokkene.ex_id %]">
                        [% PROCESS betrokkene/timeline.tt %]
                    </div>

                    <div class="ui-tabs-panel ui-widget-content ui-tabs-hide" id="tab-wgt-communication" rel="[% betrokkene.ex_id %]">
                        [% PROCESS betrokkene/communication.tt %]
                    </div>

                    [% IF betrokkene.btype == 'bedrijf' && c.stash.show_controlpanel %]
                    <div class="ui-tabs-panel ui-widget-content contact-instances" id="tab-wgt-instances" >
                        [% PROCESS betrokkene/controlpanel.tt %]
                    </div>
                    [% END %]

                    <div class="ui-tabs-panel ui-tabs-hide ui-widget-content min-height contact-zaken" id="tab-wgt-zaken">

                        <div id="ezra_betrokkene_zaken_accordion">
                            [% results = zaken %]
                            <h3>
                                <a href="#">Zaken van [% betrokkene.naam | html_entity %] [% results.count ? '(' _ results.pager.total_entries _ ')' : '' %]</a>
                                <img src="/images/spinner-small.gif" alt="bezig met laden" style="display: none; ">
                            </h3>
                            <div>
                                <div class="ui-accordion-inner">
                                    <form name="zaken">
                                        <div class="clearfix header header-filter">
                                        [% PROCESS widgets/general/zaken_filter.tt
                                                zaken_filter_prefix = 'openstaand_'
                                            ZAKEN_FILTER_STATUS_DROPDOWN = 1 # all these cases are open anyway
                                        %]
                                        </div>
                                        <input type="hidden" name="gm" value="1">
                                        <input type="hidden" name="type" value="[% betrokkene.btype %]">
                                        <div class="zaken_filter_wrapper">
                                            <div class="zaken_filter_inner">
                                                [% display_fields = zaken_display_fields %]
                                                [% PROCESS widgets/result.tt %]
                                                [% PROCESS widgets/pager2.tt %]
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            [% results = gemachtigde_zaken %]
                            <h3>
                                <a href="#">Gemachtigd voor zaken [% results.count ? '(' _ results.pager.total_entries _ ')' : '' %]</a>
                                <img src="/images/spinner-small.gif" alt="bezig met laden" style="display: none; ">
                            </h3>
                            <div>
                                <div class="ui-accordion-inner">
                                    <form name="betrokken_zaken">
                                        <div class="clearfix header header-filter">
                                        [% PROCESS widgets/general/zaken_filter.tt
                                                zaken_filter_prefix = 'betrokken_'
                                            ZAKEN_FILTER_STATUS_DROPDOWN = 1 # all these cases are open anyway
                                        %]
                                        </div>
                                        <input type="hidden" name="gm" value="1">
                                        <input type="hidden" name="type" value="[% betrokkene.btype %]">
                                        <div class="zaken_filter_wrapper">
                                            <div class="zaken_filter_inner">
                                                [% display_fields = zaken_display_fields %]
                                                [% PROCESS widgets/result.tt %]
                                                [% PROCESS widgets/pager2.tt %]
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            [% results = betrokken_bij_zaken %]
                            <h3>
                                <a href="#">Betrokken bij zaken [% results.count ? '(' _ results.pager.total_entries _ ')' : '' %]</a>
                                <img src="/images/spinner-small.gif" alt="bezig met laden" style="display: none; ">
                            </h3>
                            <div>
                                <div class="ui-accordion-inner">
                                    <form name="betrokken_zaken">
                                        <div class="clearfix header header-filter">
                                        [% PROCESS widgets/general/zaken_filter.tt
                                                zaken_filter_prefix = 'betrokken_'
                                            ZAKEN_FILTER_STATUS_DROPDOWN = 1 # all these cases are open anyway
                                        %]
                                        </div>
                                        <input type="hidden" name="gm" value="1">
                                        <input type="hidden" name="type" value="[% betrokkene.btype %]">
                                        <div class="zaken_filter_wrapper">
                                            <div class="zaken_filter_inner">
                                                [% display_fields = zaken_display_fields %]
                                                [% PROCESS widgets/result.tt %]
                                                [% PROCESS widgets/pager2.tt %]
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

 [% BLOCK disabled_afgehandelde_zaken %]
                            <h3>
                                <a href="#">Afgehandelde zaken</a>
                                <img src="/images/spinner-small.gif" alt="bezig met laden" style="display: none; ">
                            </h3>
                            <div>
                                <div class="ui-accordion-inner">
                                    <form name="resolved_zaken">
                                        <input type="hidden" name="gm" value="1">
                                        <input type="hidden" name="type" value="[% betrokkene.btype %]">
                                        <div class="zaken_filter_wrapper">
                                            <div class="zaken_filter_inner">
                                                [% results = resolved_zaken %]
                                                [% PROCESS widgets/result.tt %]
                                                [% PROCESS widgets/pager2.tt %]
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
[% END %]

                            [% results = adres_zaken %]
                            <h3>
                                <a href="#">Zaken op [% betrokkene.straatnaam | html_entity %] [% betrokkene.volledig_huisnummer | html_entity %] [% results.count ? '(' _ results.pager.total_entries _ ')' : '' %]</a>
                                <img src="/images/spinner-small.gif" alt="bezig met laden" style="display: none; ">
                            </h3>
                            <div>
                                <div class="ui-accordion-inner">
                                    <form name="adres_zaken">
                                        <input type="hidden" name="gm" value="1">
                                        <input type="hidden" name="type" value="[% betrokkene.btype %]">
                                        <div class="zaken_filter_wrapper">
                                            <div class="zaken_filter_inner">
                                                [% display_fields = adres_display_fields %]
                                                [% PROCESS widgets/result.tt %]
                                                [% IF results %]
                                                    [% PROCESS widgets/pager2.tt %]
                                                [% END %]
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-tabs-panel ui-tabs-hide ui-widget-content contact-informatie" id="tab-wgt-contact">
                        [% PROCESS betrokkene/contactinformatie.tt %]
                    </div>

                [% IF c.show_woz && woz_objects.count %]
                      <div class="ui-tabs-panel ui-widget-content ui-tabs-hide ztAjaxUpdate clearfix" id="tab-wgt-woz" rel="[% betrokkene.ex_id %]">
                          [% PROCESS plugins/woz/ownerobjects.tt %]
                        </div>
                [% END %]

                [% IF show_settings %]
                    <div class="ui-tabs-panel ui-widget-content ui-tabs-hide ztAjaxUpdate" id="tab-wgt-settings">
                        [% PROCESS betrokkene/settings.tt %]
                    </div>
                [% END %]

                </div>
