<form method="POST" class="zvalidate" action="[%
    c.uri_for('/medewerker/' _ (entry ? 'edit' : 'add') _ '/user' _ (entry ? '/' _ entry.id : '')) %]">
    <input type="hidden" name="confirmed" value="1" />
    <table cellspacing="1" class="table_zaakinformatie">
        <tbody>
            <tr>
                <td class="td100">
                    Initialen
                </td>
                <td class="td250">
                    <input
                    type="text"
                    name="initials"
                    value="[% params.initials | html %]"
                    />
                </td>
                
            </tr>
            <tr>
                <td>
                    Voornaam
                </td>
                <td>
                    <input
                    type="text"
                    name="givenname"
                    value="[% params.givenname | html %]"
                    />
                </td>
                
            </tr>
            <tr>
                <td>
                    Achternaam
                </td>
                <td>
                    <input
                    type="text"
                    name="sn"
                    value="[% params.sn | html %]"
                    />
                </td>
                
            </tr>
            <tr>
                <td>
                    Getoonde naam (displayName)
                </td>
                <td>
                    <input
                    type="text"
                    name="displayname"
                    value="[% params.displayname | html %]"
                    />
                </td>
                
            </tr>
            <tr>
                <td>
                    E-mailadres
                </td>
                <td>
                    <input
                    type="text"
                    name="mail"
                    value="[% params.mail | html %]"
                    />
                </td>
                
            </tr>
            <tr>
                <td>
                    Telefoonnummer
                </td>
                <td>
                    <input
                    type="text"
                    name="telephonenumber"
                    value="[% params.telephonenumber | html %]"
                    />
                </td>
                
            </tr>
            <tr>
                <td>
                    Functie
                </td>
                <td>
                    <input
                    type="text"
                    name="title"
                    value="[% params.title | html %]"
                    />
                </td>
            </tr>
            <tr>
                <td>
                    Afdeling
                </td>
                <td>
                    [% INCLUDE widgets/general/ldap_ou_tree.tt input_name='group_id' input_selected=params.group_ids.0 entries=tree %]
                </td>
                
            </tr>
            <tr>
                <td>
                    Gebruikersnaam
                </td>
                <td>
                    <input
                    type="text"
                    name="username"
                    value="[% params.username | html %]"
                    />
                </td>
                
            </tr>
            <tr>
                <td>
                    Wachtwoord
                </td>
                <td>
                    <input
                    type="password"
                    name="password"
                    />
                </td>
                
            </tr>
            <tr>
                <td>
                    Herhaal wachtwoord
                </td>
                <td>
                    <input
                    type="password"
                    name="password_confirmation"
                    />
                </td>
                
            </tr>

        </tbody>
    </table>
    <div class="form-actions">
        <input type="submit" value="Opslaan" class="button button-primary right" id="dialog-submit"/>
    </div>
</form>


