.timeline-icon.mdi{
    border-radius:100%;
    width:28px;
    height:28px;
    line-height:24px;
    background: #333;
    color:#fff;
    font-size:1.1rem;
    border:2px solid #333;
    box-shadow:0 0 0 3px #fff;
    margin-right:1.5rem;
    flex-shrink:0;
    display: flex;
    justify-content: center;
    align-items: center;
    &[data-event-type="document"]{
        background:$green;
        border-color:$green;
        &:before{
            content: mdi('file');
        }
    }
    &[data-event-type="contactmoment"],
    &[data-event-type="note"]{
        background: $yellow;
        border-color: $yellow;
    }
    &[data-event-type="contactmoment"]:before{
        content: mdi('comment-text');
    }
    &[data-event-type="note"]:before{
        content: mdi('note-plus');
    }
    &[data-event-type="case"],
    &[data-event-type="case-mutation"]{
        background: $blue;
        border-color: $blue;
        &:before{
            content: mdi('folder');
        }
    }
}
