.popup-menu{
    position: absolute;
    z-index: 1000;
    left: 0;
    display: none;
    width:180px;
    padding: 6px 0;
    height:auto;
    box-shadow:0 1px 3px rgba(0,0,0,.4);
    button, .popup-menu-item-button,.button{
        @include border-radius(0);
        background:none;
        width:100%;
        text-align: left;
        font-size:1em;
        padding: 5px 15px !important;
        text-decoration: none;
        display: block;
        position: relative;
        border:none;
        font-weight: normal;
        color:#000;
        @include box-sizing(border-box);
        &:hover, &.active{
            background: rgb(92,106,112);
            color:#fff;
        }
        &:active{top:1px;}
        &:hover i{
          color:#fff;
        }
    }
    p{
        padding:0px 5px;
        margin-top:3px;
        margin-bottom:7px;
        font-weight: bold;
        line-height: 1.2;
    }
}

.zs-popup-menu {
	position: relative;
}

.zs-popup-menu .zs-popup-menu-list {
	display: none;
  position: absolute;
  background: white;
  top: 100%;
  right: 0;
  list-style: none;
}

.zs-popup-menu-open .zs-popup-menu-list {
	display: block;
}

.zs-popup-menu .popup-menu-list {
  margin: 15px 0 0;
  min-width: 200px;
  padding: 7px 6px 0 6px;
  background: #404a4e;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404a4e), color-stop(100%, #1f2426));
  background: -webkit-linear-gradient(top, #404a4e 0%, #1f2426 100%);
  background: -moz-linear-gradient(top, #404a4e 0%, #1f2426 100%);
  background: -o-linear-gradient(top, #404a4e 0%, #1f2426 100%);
  background: linear-gradient(top, #404a4e 0%, #1f2426 100%);
  z-index: 10000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55);
  border: 1px solid #404a4e;
  & > li > button {
      background: url(/images/knop-bg.gif) repeat-x left 50% whitesmoke;
      position: relative;
      display: block;
      width: 100%;
      margin: 0 0 6px;
      font-size: 14px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      color: #222;
      font-weight: bold;
      line-height: 1.2;
      outline: 0 none;
      text-align: center;
      text-decoration: none;
      padding: 8px;
      white-space: nowrap;
      &:hover {
        background: #6db3f2;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6db3f2), color-stop(50%, #54a3ee), color-stop(51%, #3690f0), color-stop(100%, #1e69de));
        background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
        background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
        background: -o-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
        background: linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
        color: #fff;
        cursor: pointer;
      }
      &:active {
        top: 1px;
      }
  }
  &:before{
        width: 29px;
        height: 16px;
        position: absolute;
        background: url(/images/popover-tip.png) no-repeat;
        z-index: 10001;
        top:-15px;
        right:7px;
        display: block;
        content:'';
  }
}

.zs-popup-menu-positioned-right{
  right:0;
  left:auto;
}

.zs-popup-menu-positioned-left{
  left:0;
  right:auto;
}